bin/.local/bin/autopep8
bin/.local/bin/black
bin/.local/bin/blackd
bin/.local/bin/cmake-language-server
bin/.local/bin/epylint
bin/.local/bin/flake8
bin/.local/bin/fonttools
bin/.local/bin/get_objgraph
bin/.local/bin/hterm
bin/.local/bin/isort
bin/.local/bin/isort-identify-imports
bin/.local/bin/nodeenv
bin/.local/bin/poetry
bin/.local/bin/process-compose
bin/.local/bin/pycodestyle
bin/.local/bin/pydocstyle
bin/.local/bin/pyflakes
bin/.local/bin/pyftmerge
bin/.local/bin/pyftsubset
bin/.local/bin/pylint
bin/.local/bin/pylint-config
bin/.local/bin/pylsp
bin/.local/bin/pyreverse
bin/.local/bin/pyright
bin/.local/bin/pyright-langserver
bin/.local/bin/pyright-python
bin/.local/bin/pyright-python-langserver
bin/.local/bin/symilar
bin/.local/bin/ttx
bin/.local/bin/uncalled
bin/.local/bin/undill
bin/.local/bin/virtualenv-auto-activate.sh
bin/.local/bin/vulture
bin/.local/bin/yapf
bin/.local/bin/yapf-diff

nvim/.config/nvim/plugin/packer_compiled.lua
